<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appStart" type="Microsoft.ApplicationBlocks.ApplicationUpdater.AppStart.ConfigSectionHandler,AppStart" />
  </configSections>
  <appStart>
    <ClientApplicationInfo>
      <appFolderName>C:\Program Files\Winscribe\Winscribe Text\Client\7.0.0.0</appFolderName>
      <appExeName>Mediscribe.Applications.Main.exe</appExeName>
      <installedVersion>7.0.0.0</installedVersion>
      <lastUpdated>
      </lastUpdated>
    </ClientApplicationInfo>
  </appStart>
</configuration>