<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomIF" type="Mediscribe.Library.Interfaces.CustomIFHandler, Mediscribe.Library.Interfaces" />
    <section name="appUpdater" type="Microsoft.ApplicationBlocks.ApplicationUpdater.UpdaterSectionHandler, Microsoft.ApplicationBlocks.ApplicationUpdater" />
    <!--<section name="netTiersService"
      type="Mediscribe.Library.DBLayer.Bases.NetTiersServiceSection, Mediscribe.Library.DBLayer"
      allowDefinition="MachineToApplication"
      restartOnExternalChanges="true" />-->
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="QPETraceSwitch" value="4" />
      <add name="GENIETraceSwitch" value="4" />
    </switches>
  </system.diagnostics>
  <appUpdater>
    <UpdaterConfiguration>
      <polling type="Seconds" value="1440" />
      <logListener logPath="C:\ProgramData\Winscribe\Users\UpdaterLog.txt" daysToKeep="30" />
      <downloader type="Microsoft.ApplicationBlocks.ApplicationUpdater.Downloaders.SimpleTcpDownloader" assembly="Microsoft.ApplicationBlocks.ApplicationUpdater, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2cc584513c8f0d1c" />
      <validator type="Microsoft.ApplicationBlocks.ApplicationUpdater.Validators.RSAValidator" assembly="Microsoft.ApplicationBlocks.ApplicationUpdater, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2cc584513c8f0d1c">
        <key>
          <RSAKeyValue>
            <Modulus>p61el6TNUj1cCaXpnM9aLyDzQWgWX4lmXiXtiy1Q70SZO8Nt6EcKmokknmKFnv8lESSCeO6QCl3zr0koQjwIJyfa+VPLPQcSOsFnaybjGua85aK12Q1Gs5DuHNy6ew4pK1Z3e5IzAg5YR09j14yDNQx5KC6CUwS/LHE2m2dzBxc=</Modulus>
            <Exponent>AQAB</Exponent>
          </RSAKeyValue>
        </key>
      </validator>
      <application name="Mediscribe.Applications.Main.exe" useValidation="false">
        <client>
          <baseDir>C:\Program Files\Winscribe\Winscribe Text\Client\</baseDir>
          <xmlFile>AppStart.exe.config</xmlFile>
          <tempDir>newFiles</tempDir>
        </client>
        <server>
          <xmlFile>http://scribe-dev-01/WinScribeText/Updater/ServerManifest.XML</xmlFile>
          <xmlFileDest>ServerManifest.xml</xmlFileDest>
          <maxWaitXmlFile>60000</maxWaitXmlFile>
        </server>
      </application>
    </UpdaterConfiguration>
  </appUpdater>
  <!-- <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add
        name="SqlNetTiersProvider"
	      type="Mediscribe.Library.DBLayer.SqlClient.SqlNetTiersProvider, Mediscribe.Library.DBLayer.SqlClient"
	      providerInvariantName="System.Data.SqlClient"
	      entityFactoryType="Mediscribe.Library.BusinessLayer.EntityFactory"
	      useEntityFactory="true"
	      enableEntityTracking="false"
	      enableMethodAuthorization="false"
	      useStoredProcedure="true"
      />
    </providers>
  </netTiersService>-->
  <appSettings>
    <add key="version" value="1.0.0.0" />
    <add key="Login" value="" />
    <add key="ServiceCode" value="Lifehouse" />
    <add key="Password" value="" />
    <add key="ServerDir" value="HelperFiles\" />
    <add key="LicenseServerTimeout" value="30" />
    <add key="Time Offset Warning Threshold" value="-1" />
    <add key="ConnectionString" value="server=htisql\dev;database=Dev;Integrated Security=SSPI" />
    <add key="LauncherPath" value="C:\MSDEV\DistributionScheduler\MediScribe.Distribution\Mediscribe.Distribution.Server.BatchLauncherMain\bin\Debug\" />
    <add key="Word Startup Path" value="C:\Program Files\Winscribe\Winscribe Text\Client\WordStart" />
    <add key="QPELog" value="C:\Documents\QuickPatientEntry" />
    <add key="SR Site" value="NMC" />
    <add key="SR Dept" value="MR" />
  </appSettings>
</configuration>